.code-container {
    overflow: auto;
    border: 0px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #000;
    color: white;
  }
  
  pre {
    margin: 0;
  }
  
  code {
    display: block;
  }
  
  .line-number {
    display: inline-block;
    width: 2em;
    margin-right: 1em;
    color: #fff;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .centered-text {
    text-align: center;
    font-size: 48px;
    font-family: 'Mochiy Pop P one', sans-serif;
  }
  
  .centered-long-text {
    text-align: center;
    margin-top: 20px;
  }