.chat-input {
  position: fixed;
  bottom: 0;
  left: 250px;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

#messageInput {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 100%;
}

#sendMessage {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sendMessage i {
  font-size: 20px;
  margin-right: 5px;
}
textarea {
  height: 10em;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #ddd;
  resize: none;
}
textarea::-webkit-scrollbar {
  width: 12px;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

textarea::-webkit-scrollbar-track {
  background: #ddd;
}